<h1>Canvas#index</h1>
<p>All Card Views are rendered here</p>
<% @navbar_view = NavbarView.all %>
<% @hero_view = HeroView.where(isVisible: true) %>
<% @about_view = AboutView.all %>
<% @hot_new_view = HotNewView.all %>
<% @service_category = ServiceCategory.all %>
<% @gallery_view = GalleryView.all %>
<% @contact_view = ContactType.all %>
<% @map_view = MapView.all %>
<% @footer_view = FooterView.all %>