

<p style="color: green"><%= notice %></p>

<h1>Review views</h1>

<div id="review_views">
  <% @review_views.each do |review_view| %>
    <%= render review_view %>
    <p>
      <%= link_to "Show this review view", review_view %>
    </p>

  <% end %>
</div>
<script src="https://static.elfsight.com/platform/platform.js"
              data-use-service-core defer></script> <div
    class="elfsight-app-aeec6ab0-a663-48a4-8389-5a6d456143a8"></div>
<html>
<% require 'net/http'
require 'json'

# Set up the API endpoint and parameters
place_id = "ChIJ7zZmas4pO4gRGLzcslTUZaM"
api_key = "AIzaSyBDI-RseTM2pc_wUY6TyrxpdOHv4Z0K19Q"
url = "https://maps.googleapis.com/maps/api/place/details/json?placeid=#{place_id}&key=#{api_key}"

# Make an HTTP request to the API endpoint and parse the response JSON
uri = URI(url)
response = Net::HTTP.get(uri)
result = JSON.parse(response)

# Print the reviews
reviews = result["result"]["reviews"]
reviews.each do |review|
  puts "#{review['author_name']}: #{review['text']}"
  puts "Rating: #{review['rating']}"
  puts ""
end
%>
</html>


<%= link_to "New review view", new_review_view_path %>
