<div id="<%= dom_id about_view %>">
  <p>
    <strong>Title:</strong>
    <%= about_view.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= about_view.description %>
  </p>

  <p>
    <strong>About link:</strong>
    <%= about_view.about_link %>
  </p>

</div>
