<h1>Editing about view</h1>

<%= render "form", about_view: @about_view %>

<br>

<div>
  <%= link_to "Show this about view", @about_view %> |
  <%= link_to "Back to about views", about_views_path %>
</div>
