<div id="flex">
  <%= render 'layouts/navbar' %>

  <div id="right" >
    <h1>New about view</h1>

    <%= render "form", about_view: @about_view %>
    <br>
    <div>
      <%= link_to "Back to about views", about_views_path %>
    </div>

  </div>
</div>

