<div id="<%= dom_id service_view_card %>">
  <p>
    <strong>Title:</strong>
    <%= service_view_card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service_view_card.description %>
  </p>

</div>
