<h1>Editing service view card</h1>

<%= render "form", service_view_card: @service_view_card %>

<br>

<div>
  <%= link_to "Show this service view card", @service_view_card %> |
  <%= link_to "Back to service view cards", service_view_cards_path %>
</div>
