<h1>Editing contact item</h1>

<%= render "form", contact_item: @contact_item %>

<br>

<div>
  <%= link_to "Show this contact item", @contact_item %> |
  <%= link_to "Back to contact items", contact_items_path %>
</div>
