<p style="color: green"><%= notice %></p>

<h1>Contact items</h1>

<div id="contact_items">
  <% @contact_items.each do |contact_item| %>
    <%= render contact_item %>
    <p>
      <%= link_to "Show this contact item", contact_item %>
    </p>
  <% end %>
</div>

<%= link_to "New contact item", new_contact_item_path %>
