<div id="<%= dom_id review_display %>">
  <p>
    <strong>Title:</strong>
    <%= review_display.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= review_display.description %>
  </p>

</div>
