<h1>Editing review display</h1>

<%= render "form", review_display: @review_display %>

<br>

<div>
  <%= link_to "Show this review display", @review_display %> |
  <%= link_to "Back to review displays", review_displays_path %>
</div>
