<div class="view-container">
  <div class="hot-new-view-container">
    <div class="text-container">
      <br>
      <br>
      <br>
      <br>
      <h2 style="padding-left: 25px"><%= hot_new_view.title %></h2>
      <p><%= hot_new_view.description %></p>
      <br>
      <br>
      <br>
      <br>
      <p class="button-container">
        <a href="<%= hot_new_view.link %>" class="button-hero">Read more</a>
      </p>
    </div>

    <div>
      <% if hot_new_view.image.attached? %>
        <%= image_tag hot_new_view.image, class: "hot-image-container"  %>
      <% else %>
        No image available.
      <% end %>
    </div>
  </div>
</div>

<style>
    .hot-new-view-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        color: white;

        max-width: 1200px; /* Added max-width to prevent overflowing */
        margin: auto;
        /*padding: 20px;*/
    }

    .text-container {
        max-width: 250px;
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 25px;
    }

    .text-container h2 {
        font-weight: bolder;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .text-container p {
        padding: 0 30px;
        margin-bottom: 20px;
    }

    .hot-image-container {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-width: 520px; /* Added max-width to prevent overflowing */
    }

    .button-hero {
        border: 1px solid white;
        color: white;
        padding: 10px 40px; /* Adjust the padding to make the button smaller or larger */
        text-decoration: none;
        border-radius: 0px;
        font-weight: bold;
    }

    .button-hero:hover {
        background-color: black;
        color: white;
    }

    .button-container {
        margin-top: auto;
    }

    /* Media query for mobile devices */
    @media screen and (max-width: 768px) {
        .hot-new-view-container {
            flex-direction: column;
            text-align: center;
        }

        .hot-image-container {
            width: 100%;
            height: auto;
            max-width: none; /* Remove max-width for mobile devices */
        }
    }
</style>
