<div id="<%= dom_id contact_view %>">
  <p>
    <strong>Name:</strong>
    <%= contact_view.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_view.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact_view.message %>
  </p>

</div>
