<h1>Editing contact view</h1>

<%= render "form", contact_view: @contact_view %>

<br>

<div>
  <%= link_to "Show this contact view", @contact_view %> |
  <%= link_to "Back to contact views", contact_views_path %>
</div>
