<p style="color: green"><%= notice %></p>

<h1>Contact views</h1>

<div id="contact_views">
  <% @contact_views.each do |contact_view| %>
    <%= render contact_view %>
    <p>
      <%= link_to "Show this contact view", contact_view %>
    </p>
  <% end %>
</div>

<%= link_to "New contact view", new_contact_view_path %>
