<% turbo_frame_tag "kart" do %>
  <h1>_Cart </h1>
  <% if @kart.orderables.count > 0 %>
    <% render "kart/orderables" %>
<!--    <p>Total: <%#= @kart.total %> </p>-->
  <% else %>
    <p>Your cart is empty</p>
  <% end %>
<% end %>
