<div id="<%= dom_id gallery_image_post %>">
  <p>

    <% if gallery_image_post.image.attached? %>
      <%= image_tag gallery_image_post.image %>
    <% else %>
      No image available.
    <% end %>

  </p>

</div>
