<h1>Editing hot section view</h1>

<%= render "form", hot_section_view: @hot_section_view %>

<br>

<div>
  <%= link_to "Show this hot section view", @hot_section_view %> |
  <%= link_to "Back to hot section views", hot_section_views_path %>
</div>
