<div id="<%= dom_id contact_type %>">
  <p>
    <strong>Title:</strong>
    <%= contact_type.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact_type.description %>
  </p>

</div>
