<h1>Editing footer view</h1>

<%= render "form", footer_view: @footer_view %>

<br>

<div>
  <%= link_to "Show this footer view", @footer_view %> |
  <%= link_to "Back to footer views", footer_views_path %>
</div>
