<div id="<%= dom_id product_category %>">
  <p>
    <strong>Title:</strong>
    <%= product_category.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_category.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= product_category.link %>
  </p>

</div>
