<div id="<%= dom_id gallery_view %>">
  <p>
    <strong>Title:</strong>
    <%= gallery_view.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery_view.description %>
  </p>

  <p>
    <strong>External link:</strong>
    <%= gallery_view.external_link %>
  </p>

</div>
