<h1>Editing gallery view</h1>

<%= render "form", gallery_view: @gallery_view %>

<br>

<div>
  <%= link_to "Show this gallery view", @gallery_view %> |
  <%= link_to "Back to gallery views", gallery_views_path %>
</div>
