<p style="color: green"><%= notice %></p>

<h1>Gallery views</h1>

<div id="gallery_views">
  <% @gallery_views.each do |gallery_view| %>
    <%= render gallery_view %>
    <p>
      <%= link_to "Show this gallery view", gallery_view %>
    </p>
  <% end %>
</div>

<%= link_to "New gallery view", new_gallery_view_path %>
