<h1>Editing hero view</h1>

<%= render "form", hero_view: @hero_view %>

<br>

<div>
  <%= link_to "Show this hero view", @hero_view %> |
  <%= link_to "Back to hero views", hero_views_path %>
</div>
