<h1>Editing navbar view</h1>

<%= render "form", navbar_view: @navbar_view %>

<br>

<div>
  <%= link_to "Show this navbar view", @navbar_view %> |
  <%= link_to "Back to navbar views", navbar_views_path %>
</div>
